

body{
    margin: 0px;
    padding: 0%;
    height: 100%;
    background-color: rgba(239, 239, 245, 0.966);
    display: flexbox;
    justify-content: center;
    
}
.facebook{
    display: flexbox;
    align-items: center;
    margin-top: 10px;
}
.fb{
    width: 450px;
 padding: 20px;
  margin-top: 125px;
  position: relative;
float: left;
margin-left: 325px;
}
#logo{
    width: 300px;
    margin-left: 0px;
    padding-left: 0px;

}
#logo:hover{
    transition: 2s;
    background-color: #15c23b;
 
}
.desc{
    font-size: 25px;
    font-weight: 100;
    margin-left: 30px;
    stroke: none;
}
.main{
    border: 0px;
    padding: 10px;
    margin: 10px;
    width: 380px;
    height: 350px;
    background-color:white;
    border: 1px solid white;
    border-radius: 8px;
    margin-top: 100px;
    float: right;
    margin-right: 280px;
   
}

input{
    width: 360px;
    margin: 10px;
    height: 50px;
    border-radius: 8px;
    align-items: center;
    border-color: rgb(224, 219, 219);
   border-style: double;
   font-size: 17px;
   margin-left: 3.5px;
   margin-right: 0px;
  
}
#submit{
width: 368px;
background-color: hsla(240, 92%, 65%, 0.925);
color: white;
}
p{
    font-size: large;
    font-style: italic;
    color: rgb(98, 0, 255);
    text-align: center;
    margin-top: 1px;
    margin-bottom: 2px;
  
}
a{
    text-decoration: dotted;
    align-content: center;
   color:rgb(78, 78, 236);
}
span{
    height: 1px;
    margin: 10px;
    margin-top: 1px;
    background-color: rgb(224, 219, 219);
    width: 340px;
    position: absolute;
}
.button,.forgot{
    text-align: center;
}
#button{
    margin-top: 20px;
    width: 180px;
background-color: #15c23b;
color: white;
float: center;
border: 2px solid rgba(4, 253, 58, 0.973);
border-radius: 8px;
}
@media only screen and (max-width:600px){
.desc{
    display: none;
}
.body{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
   
}
.fb{
    margin-top: 20px;
    margin-left: 0%;
    margin-right: 0%;
}
.main{
    margin-left: 0px;
    margin-right: 0px;
    width: auto;
}

}
    
